<div class="p-5">
    <table class="table table-stripped table-success table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Course</th>
                <th>Remarks</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody> 
            <tr *ngFor="let student of students">
                <td>{{student.fullname}}</td>
                <td>{{student.phonenumber}}</td>
                <td>{{student.email}}</td>
                <td>{{student.course}}</td>
                <td>{{student.remarks}}</td>
                <td>
                    <button (click)="deleteStudent(student.id)">Delete</button>
                    <button (click)="editStudent(student)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
