<div class="p-5" [formGroup]="studentForm">
    <div class="mb-3">
        <label for="fullname" class="form-label">Full Name</label>
        <input formControlName="fullname" type="text" class="form-control" id="fullname">
    </div>
    <div class="mb-3">
        <label for="phonenumber" class="form-label">Phone Number</label>
        <input  formControlName="phonenumber" type="text" class="form-control" id="phonenumber">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input formControlName="email" type="text" class="form-control" id="email">
    </div>
    
    <div class="form-floating mb-3">
        <select formControlName="course" class="form-select">
            <option [value]="course['title']" *ngFor="let course of allcourses">{{course.title}}</option>
        </select>
        <label for="floatingSelect">Course</label>
    </div>
    
    <div class="form-floating">
        <textarea formControlName="remarks" class="form-control" placeholder="Leave a comment here" id="remarks" style="height: 100px"></textarea>
        <label for="remarks">Remarks</label>
    </div>
    <div class="text-center">
        <button (click)="updateStudent()" type="button" class="btn btn-primary mt-3" >Update Student</button>
    </div>
</div>
